body {
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    color: #cccccc;
    background: #222;
    margin: 0;
}

.online {
    background-color: #97D700 !important;
    color: #97D700 !important;
}

.led {
    height: 12px;
    width: 12px;
    border: 1px;
    background-color: #FF0000;
    line-height: 1px;
    border-radius: 10px;
    margin-top: 14px;

}



.logo-txt {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    vertical-align: top;
    margin-left: 12px;
}

.feature-details {
    width: 100%;
    height: 79px;
    display: flex;
}

nav {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: #191919;
    height: 120px;
}
.cols{
    flex-direction: column;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.feature-icon-off {
    fill: #fff;
    width: 40px;
    height: 32px;
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

.feature-icon-on {
    fill: #FFBF1F;
    width: 40px;
    height: 32px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

.feature-name {
    color: white;
    line-height: 40px;
    margin-left: 30px;
    float: left;
    width: 270px;
}

.feature-box {
    background-color: #333;
    width: 400px;
    height: 124px;
    border-radius: 10px;
    border-color: #474646;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
    margin: 10px;
    display: flex;
    flex-flow: column;

}

.feature-box > div {
    flex-grow: 1;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.onofre-menu > li > a {
    color: #ffffff;
    text-align: center;
    width: 168px;
    border-radius: 48px;
    background-color: transparent;
    height: 50px;
    font-weight: bolder;
    text-decoration: none
}

.upload {
    margin-left: 122px;
    -moz-margin-start: 122px;
    border-radius: 30px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
input::file-selector-button {
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-appearance: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    width: 120px;
    color: #ffffff !important;
    background-color: #333;
}

#firmwareInputFile{
    width: 570px;
    text-align: left;
}
.s-item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
    gap: 6px;
}

.onofre-menu > li.active > a,
.onofre-menu > li.menu-open > a {
    color: #191919;
    background-color: #97D700;
    text-decoration: none
}

.green {
    color: #97D700;
}

.stats-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 221px;
    height: 54px;
    width: 100%;
    flex-direction: row;
    background-color: rgb(48, 60, 19);
}

.stats-panel span {
    line-height: 40px;
}

footer {
    display: flex;
    align-items: end;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #222;
    border-top: 1px solid #97D700;
}

footer .version {
    display: flex;
    flex-flow: column;
    width: 792px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    margin-top: 6px;
    margin-bottom: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 100px;
}


.onofre-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 36px;
    border: 1px solid #97D700;
    border-radius: 48px;
}

.onofre-menu > li {
    margin: 0;
    padding: 0;
    display: inline-block
}

.onofre-menu > li > a {
    padding-top: 8px;
    padding-left: 10px;
    width: 210px;
    height: 36px;
    display: block
}

.box {
    margin-top: 10px;
    width: 850px;
}

.box-body {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}

*,
:after,
:before,
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    margin: 36px 0px 14px 0px;
}

.form-group{
    width: 260px;
}
label {
    color: #97D700;
    font-size: 12px;
}

.form-control {
    font-size: 12px;
    line-height: 1.42857143;
    color: #ccc;
    background-color: #333;
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    border: 0 solid #ccc;
    border-bottom: 1px solid #97D700;
    margin-top: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

.btn:hover {
    opacity: 80%;
}

.btn-primary {
    color: #161616;
    background-color: #97D700;
    border-color: #262626
}

a {
    color: #97D700;
    text-decoration: none
}

.ON {
    background-color: #97D700;
}

.OFF {
    background-color: #17462C;
}

.btn-warning {
    color: #fff;
    background-color: #FFB74B;
    border-color: #FFB74B
}

.btn-danger {
    color: #fff;
    background-color: #FF6565;
    border-color: #FF6565
}

.firmware {
    background-color: #333;
    border-radius: 28px;
}


.btn-system {
    width: 260px;
}
.area-system-bk{
    width: 260px;
    border-radius: 20px;
    border: 1px solid #97D700;
    background-color: #161616;

}

.btn-system-dual {
    color: #fff;
    width: 120px;
    background-color: #161616;
}
.backup{
    background-color: #97D700;
    color: #161616;
}
.btl-save-all {
    width: 168px;
    height: 36px;
    border: 1px solid #97D700;
    border-radius: 48px;
    color: #ffffff;
    background-color: #161616;
}
.left{
    text-align: left;
}
.switch-lbl {
    color: #ffffff;
    vertical-align: sub;
    margin-left: 40px;
}
 .wizard{
     width: 850px;
     display: flex;
     flex-flow: column;
 }
.wizard-props{
    display: flex;
    flex-flow: row;
    gap: 34px;
    padding-bottom: 20px;
}
.switch {
    margin-top: 25px;
    margin-left: 12px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #97D700;
}

input:focus + .slider {
    box-shadow: 0 0 1px #97D700;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #333;
    margin: 80px auto;
    color: white;
    border: 1px solid #474646;
    border-radius: 10px;
    width: 410px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.modal-form {
    display: flex;
    padding: 8px 10px 8px 10px;
    flex-direction: column;
}

.modal-form-row {
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
}

.modal-footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    border-top: white solid 1px;
    height: 40px;
}

.close {
    color: white;
    float: left;
    margin-right: 15px;
    font-size: 28px;
    line-height: 50px;
}

.close:hover,
.close:focus {
    color: #97D700;
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
    visibility: hidden;
}
.right{
    flex-direction: row-reverse;
}
.btn-delete {
    background-color: transparent;
    border: none;
    color: #FF5555;
    cursor: pointer;
}

.btn-update {
    background-color: transparent;
    border: none;
    color: #97D700;
    cursor: pointer;
}

input[type=number] {
    width: 60px;
}

.label-hit {
    font-size: 10px;
}

.shutter-slider {
    appearance: slider-vertical;
    height: 80px;
    transform: rotate(-90deg);
}

input[type='range'] {
    overflow: hidden;
    width: 80px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #434343;
    border-radius: 3px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #97D700;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    cursor: pointer;
    background: #434343;
    box-shadow: -80px 0 0 80px #97D700;
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #97D700;
    accent-color: #222222;
}

input[type='range']::-moz-range-thumb {
    width: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    cursor: pointer;
    background: #434343;
    box-shadow: -80px 0 0 80px #97D700;
}

input[type="range"]::-moz-range-track {
    width: 30px;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #97D700;
}

input[type="range"]::-ms-fill-upper {
    background-color: #434343;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.gpio-row {
    display: flex;
    gap: 6px;
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: bolder;
}


.gpio-in {
    background-color: #97D700;
    padding: 3px;
    height: 20px;
    color: #161616;
    border-radius: 20px;
    min-width: 20px;
    text-align: center;
}

.gpio-out {
    background-color: #161616;
    padding: 3px;
    color: #97D700;
    height: 20px;
    border-radius: 20px;
    min-width: 20px;
    text-align: center;
}

.s-item input {
    background: transparent;
    border: none;
    width: auto;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
}

@media  screen and (max-width: 600px) {
    .features {
        grid-template-columns: 1fr;
    }
    .content{
        padding-left: 10px;
    }
    .logo-img svg{
        width: 46px;
    }
    .logo-txt{
        font-size: 12px;
        margin: 0;
        justify-content: center;
        line-height: 0;
    }
    .btl-save-all{
        width: 110px;
    }
    .stats-panel{
        height: 117px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        padding-left: 10px;
        flex-direction: column;
    }
    #firmwareInputFile{
        width: 100%
    }

    nav{
        height: 90px;
        padding: 26px;
    }
    .onofre-menu > li > a {
        width: 84px;
        border-radius: 48px;
        height: 34px;
        font-size: 12px;
        font-weight: bolder;
    }
    .system{
        gap: 10px;
    }
    .logo-img {
        gap: 10px;
        display: flex;;
        flex-flow: column;
    }
    .wizard{
        width: 100%
    }
    .wizard-props{
        flex-flow: column;
    }
}