body {
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #cccccc;
    background: #222;
    margin: 0;
}

.online{
    background-color: forestgreen !important;
    color: forestgreen !important;
}
.led{
    height: 12px;
    width: 12px;
    border: 1px;
    background-color: #FF5555;
    line-height: 1px;
    border-radius: 10px;
    margin-top: 2px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #40DF86;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.onofre-menu {
    height: 46px;
    width: 100%;
}
.features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.feature-icon-off {
    fill: #fff;
    width: 40px;
    height: 32px;
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

.feature-icon-on {
    fill: #FFBF1F;
    width: 40px;
    height: 32px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}
.feature-name {
    color: white;
    line-height: 40px;
    margin-left: 30px;
    float: left;
    width: 270px;
}
.feature-box {
    background-color: #333;
    width: 400px;
    border-radius: 10px;
    border-color: #474646;
    border-style: solid;
    border-width: 1px;
    display: flex;
    padding: 12px;
    margin: 10px;
    flex-direction: row;
}

.feature-box > div {
    flex-grow: 1;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.onofre-menu > li > a {
    border-left: 3px solid transparent;
    color: #fff;
    height: 46px;
    text-decoration: none
}

.onofre-menu > li.active > a, .onofre-menu > li.menu-open > a, .onofre-menu > li:hover > a {
    color: #fff;
    border-bottom: 4px solid #333;
    text-decoration: none
}

.stats-panel {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    position: fixed;
    margin-top: 45px;
    background-color: #333;
    z-index: 999;
}

.onofre-footer {
    background: #222;
    padding: 15px;
    color: #fff;
    border-top: 1px solid #d2d6de
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}


.onofre-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.onofre-menu > li {
    margin: 0;
    padding: 0;
    display: inline-block
}

.onofre-menu > li > a {
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: block
}

.box {
    margin-top: 10px;
}

.box-header {
    color: #cccccc;;
    display: block;
}
.box-footer{
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
    padding: 18px;
}
.box-body {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.system-footer{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    padding: 12px;
}
*, :after, :before, input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

fieldset {
    padding: 0;
    border: 0;
    min-width: 0;
    margin: 0
}

.form-control {
    font-size: 14px;
    line-height: 1.42857143;
    color:#ccc;
    background-color: #333;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.chip{
    background-color: #333;
    color: white;
    height: 22px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}
.btn {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}
.btn:hover{
    opacity: 80%;
}
.btn-primary {
    color: #fff;
    background-color: #17462C;
    border-color: #262626
}

a {
    color: #17462C;
    text-decoration: none
}
.ON{
    background-color: #40DF86;
}
.OFF{
    background-color: #17462C;
}
.btn-warning {
    color: #fff;
    background-color: #FFB74B;
    border-color: #FFB74B
}

.btn-danger {
    color: #fff;
    background-color: #FF5555;
    border-color: #FF5555
}

.btl-save-all {
    width: 120px;
    margin: 8px;
    margin-right: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #40DF86;;
}

input:focus + .slider {
    box-shadow: 0 0 1px #40DF86;;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #333;
    margin: 80px auto;
    color: white;
    border: 1px solid #474646;
    border-radius: 10px;
    width: 410px;
}
.modal-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}
.modal-form{
    display: flex;
    padding: 8px 10px 8px 10px;
    flex-direction: column;
}
.modal-form-row{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: row;
}
.modal-footer{
    display: flex;

    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    border-top: white solid 1px;
    height: 40px;
}
.close {
    color: white;
    float: left;
    margin-right: 15px;
    font-size: 28px;
    line-height: 50px;
}
.close:hover,
.close:focus {
    color: #40DF86;;
    text-decoration: none;
    cursor: pointer;
}
.hide{
    display: none;
    visibility: hidden;
}
.btn-delete{
    background-color: transparent;
    border: none;
    color: #FF5555;
    cursor: pointer;
}
.btn-update{
    background-color: transparent;
    border: none;
    color: #40DF86;
    cursor: pointer;
}
input[type=number] {
    width: 60px;
}
.label-hit{
    font-size: 10px;
}
.shutter-slider{
    appearance: slider-vertical;
    height: 80px;
    transform: rotate(-90deg);
}

    input[type='range'] {
        overflow: hidden;
        width: 80px;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: #434343;
        border-radius: 3px;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -moz-appearance: none;
        -webkit-appearance: none;
        color: rgba(64, 224, 129, 0.24);
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 100%;
        cursor: pointer;
        background: #434343;
        box-shadow: -80px 0 0 80px rgba(64, 224, 129, 0.24);
    }
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: rgba(64, 224, 129, 0.24);
    accent-color: #222222;
}
input[type='range']::-moz-range-thumb {
    width: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    cursor: pointer;
    background: #434343;
    box-shadow: -80px 0 0 80px rgba(64, 224, 129, 0.24);
}
input[type="range"]::-moz-range-track {
    width: 30px;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: rgba(64, 224, 129, 0.24);
}
input[type="range"]::-ms-fill-upper {
    background-color: #434343;
}

