body {
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    color: #cccccc;
    background: rgba(22, 22, 22, 1);
    margin: 0;
}

.online {
    background-color: #97D700 !important;
    color: #97D700 !important;
}

.led {
    height: 12px;
    width: 12px;
    border: 1px;
    background-color: #FF0000;
    line-height: 1px;
    border-radius: 10px;
    margin-top: 14px;
}

.logo-txt {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: .2rem;
    font-size: 22px;
    line-height: 50px;
    vertical-align: top;
    margin-left: 12px;
}

nav {
    width: 100%;
    z-index: 10;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    height: 120px;
}

.sensors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 24px
}


.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 24px;
    width: 652px;
}

.feature-edit {
    height: 30px;
    z-index: 1;
    cursor: pointer;
}

.feature-icon {
    height: 30px;
    margin-left: 9px;
}

.han-box .feature-name {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    position: unset;
}

.feature-name {
    color: white;
    font-size: 16px;
    margin-left: 16px;
    font-weight: bolder;
}

.sensor-values {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding-right: 13px;
}

.sensor-values img {
    height: 30px;
}

.sensor-values label {
    font-size: 16px;
    font-weight: bolder;
}

.sensor-box .feature-name {
    left: 27px;
    top: -8px
}

.sensor-box {
    background: linear-gradient(180deg, #454444 0%, #1E1E1E 100%);
    width: 313px;
    display: flex;
    flex-flow: column;
    align-items: start;
    height: 100px;
    border-radius: 21px;
    overflow: hidden;
}

.feature-box {
    display: flex;
    flex-flow: column;
    align-content: start;
    overflow: hidden;
    width: 145px;
    height: 150px;
    border-radius: 21px;
    align-items: start;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.han-box {
    background: linear-gradient(180deg, #454444 0%, #1E1E1E 20%);
    height: 678px;
    width: 652px;
    border: none;
    border-radius: 21px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
    padding: 24px;
}

.han-icon {
    height: 30px;
}

.han-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.han-col {
    margin-top: 10px;
    display: flex;
    flex-flow: column;

}

.han-values {
    font-weight: 700;
    display: grid;
    grid-template-columns: 30px 360px 5fr 5fr;
    grid-column-gap: 5px;
    grid-row-gap: 7px;
}
.han-values-dual {
    font-weight: 700;
    display: grid;
    grid-template-columns: 30px 162px 5fr 5fr;
    grid-column-gap: 5px;
    grid-row-gap: 7px;
}
.advanced{
    display: grid;
    grid-template-columns: 50% 50%;
}
.v {
    font-size: 14px;
    font-weight: lighter;
    color: white !important;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.onofre-menu > li > a {
    color: #ffffff;
    text-align: center;
    width: 168px;
    border-radius: 48px;
    background-color: transparent;
    height: 50px;
    font-weight: bolder;
    text-decoration: none
}

.upload {
    margin-left: 121px;
    -moz-margin-start: 122px;
    border-radius: 30px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::file-selector-button {
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-appearance: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    width: 120px;
    color: #ffffff !important;
    background-color: #333;
}

#firmwareInputFile {
    width: 570px;
    text-align: left;
}

.s-item {
    display: flex;
    align-content: center;
    flex-flow: row;
    gap: 6px;
}

.onofre-menu > li.active > a,
.onofre-menu > li.menu-open > a {
    color: #191919;
    background-color: #97D700;
    text-decoration: none
}

.green {
    color: #97D700;
}

.stats-panel {
    width: 100%;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 221px;
    margin-bottom: 16px;
    height: 54px;
    flex-direction: row;
    background-color: rgb(48, 60, 19);
}

.stats-panel span {
    line-height: 40px;
}

footer {
    display: flex;
    align-items: end;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(22, 22, 22, 1);
    -webkit-box-shadow: 0 -40px 10px rgba(22, 22, 22, 1);
    -moz-box-shadow: 0 -40px 10px rgba(22, 22, 22, 1);
    box-shadow: 0 -40px 10px rgba(22, 22, 22, 1);
}

footer .version {
    display: flex;
    flex-flow: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    margin-top: 6px;
    margin-bottom: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
    flex-flow: column;

}

.onofre-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 36px;
    border: 1px solid #97D700;
    border-radius: 48px;
}

.onofre-menu > li {
    margin: -1px;
    padding: 0;
    display: inline-block
}

.onofre-menu > li > a {
    padding-top: 8px;
    padding-left: 10px;
    width: 210px;
    height: 36px;
    display: block
}


.features-body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;
}

.box-title {
    display: flex;
    flex-flow: row;
    width: 652px;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 12px;
    font-size: 18px;
    text-transform: uppercase;
}

.chip {
    background-color: rgba(151, 215, 0, .1);
    font-size: 12px;
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
}

.chip-han {
    background-color: rgba(151, 215, 0, .1);
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

.box-body {
    display: flex;
    width: 652px;
    gap: 25px;
    flex-direction: row;
    justify-content: space-between;
}

*,
:after,
:before,
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

input[type='radio'] {
    accent-color: #97D700;
}

.form-group {
    width: 260px;
    padding-bottom: 10px;
}

label {
    color: #97D700;
    font-size: 12px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form-control {
    font-size: 12px;
    line-height: 1.42857143;
    color: #ccc;
    background-color: #333;
    display: block;
    width: 203px;
    height: 28px;
    padding: 6px 12px;
    border: 0 solid #ccc;
    border-bottom: 1px solid #97D700;
    margin-top: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

.btn:hover {
    opacity: 80%;
}

.btn-primary {
    color: #161616;
    background-color: #97D700;
    border-color: #262626
}

a {
    color: #97D700;
    text-decoration: none
}

.ON {
    background-color: rgba(151, 215, 0, .40);

}

.OFF {
    background-color: rgba(151, 215, 0, .07);
}

.btn-warning {
    color: #fff;
    background-color: #FFB74B;
    border-color: #FFB74B
}

.btn-danger {
    color: #fff;
    background-color: #FF6565;
    border-color: #FF6565
}

.firmware {
    background-color: #333;
    border-radius: 28px;
}


.btn-system {
    width: 187px;

}

.area-system-bk {
    width: 260px;
    border-radius: 20px;
    border: 1px solid #97D700;
    background-color: #161616;

}

.btn-system-dual {
    color: #fff;
    width: 120px;
    background-color: #161616;
}

.backup {
    background-color: #97D700;
    color: #161616;
}

.han-box span {
    color: #97D700;
    line-height: 30px;
}

.btl-save-all {
    width: 162px;
    height: 36px;
    border: 1px solid #97D700;
    border-radius: 48px;
    color: #ffffff;
    background: rgba(0, 0, 0, 1);
}

.dhcp-lbl {
    color: #ffffff;
    vertical-align: sub;
    margin-left: 87px;
}

.wizard-props {
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding-bottom: 20px;
}

.switch {
    margin-top: 25px;
    margin-left: 12px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #97D700;
}

input:focus + .slider {
    box-shadow: 0 0 1px #97D700;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(22, 22, 22, .7);;
}

.modal-content {
    background-color: rgba(11, 11, 11, 1);
    margin: 80px auto;
    color: white;
    border-radius: 10px;
    width: 410px;
    padding: 22px;
}

.modal-header {
    display: flex;
    justify-content: end;
}

.modal-form {
    display: flex;
    padding: 8px 10px 8px 10px;
    flex-direction: column;
}

.input-modal {
    background-color: rgba(11, 11, 11, 1);
}

.han-widget-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.flex-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.modal-form-row {
    display: flex;
    padding: 10px;
    gap: 17px;
    align-items: end;
    flex-direction: row;margin-left: -11px;
}

.modal-footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    height: 40px;
}

.close {
    color: white;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #97D700;
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
    visibility: hidden;
}

.wizard-control {
    position: fixed;
    bottom: 116px;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-add {
    background-color: #97D700;
    font-size: 30px;
    text-align: center;
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

.btn-delete {
    background-color: transparent;
    border: none;
    color: rgba(255, 0, 0, 1);
    cursor: pointer;
    text-decoration-line: underline;
}

input[type=number] {
    width: 60px;
}

.label-hit {
    font-size: 10px;
    margin-left: -11px;
}

.shutter-slider {
    height: 150px;
    transform: rotate(-90deg);
}

.f-n-i {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 10px;
}

input[type='range'] {
    width: 146px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(151, 215, 0, .0);
    position: relative;
    top: -16px;
    left: -5px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 6px;
    height: 10px;
    cursor: pointer;
    border: solid 1px white;
    border-radius: 6px;
    background:  rgba(151, 215, 0, .40);
    box-shadow: -90px 0 0 90px rgba(151, 215, 0, .40);
}

input[type='range']::-moz-range-thumb {
    width: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
    cursor: pointer;
    background: rgba(151, 215, 0, .40);
    box-shadow: -80px 0 0 80px rgba(151, 215, 0, .40);
}

input[type="range"]::-moz-range-track {
    width: 30px;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #97D700;
}

input[type="range"]::-ms-fill-upper {
    background-color: rgba(151, 215, 0, .07);
}

.s-item input {
    background: transparent;
    border: none;
    width: auto;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
}

.tw {
    color: white !important;
    font-size: 25px;
}
.wizard-props .form-group{
    width: 100%;
}
.wizard-props .form-control{
    width: 100%;
}
.modal .box-body{
    width: 366px;
    justify-content: end;
}