body {
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #1b1b1b !important
}

.onofre-menu {
    background-color: #86bd9a
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feature-icon-off {
    fill: #fff;
    width: 30px;
    height: 30px;
    float: left;
}

.feature-icon-on {
    fill: #FFBF1F;
    width: 30px;
    height: 30px;
}
.feature-name {
    color: white;
    line-height: 40px;
    margin-left: 10px;
    float: left;
    width: 270px;
}
.feature-box {
    background-color: #333;
    height: 60px;
    width: 400px;
    border-radius: 10px;
    border-color: #474646;
    border-style: solid;
    border-width: 1px;
    display: flex;
    padding: 12px;
    margin: 10px;
}



.controls {
    position: relative;
    float: left;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.onofre-menu > li > a {
    border-left: 3px solid transparent;
    color: #fff;
    text-decoration: none
}

.onofre-menu > li.active > a, .onofre-menu > li.menu-open > a, .onofre-menu > li:hover > a {
    color: #fff;
    border-bottom: 3px solid #000;
    text-decoration: none
}

.stats-panel {
    display: flex;
    padding: 10px
}

.onofre-footer {
    background: #222;
    padding: 15px;
    color: #fff;
    border-top: 1px solid #d2d6de
}

.box-body:after {
    clear: both
}

.box-body:after, .box-body:before {
    content: " ";
    display: table
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto
}


.onofre-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.onofre-menu > li {
    margin: 0;
    padding: 0;
    display: inline-block
}

.onofre-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block
}

.box {
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%
}

.box-header {
    color: #444;
    display: block;
    padding: 10px
}

.box-header .box-title, .box-header > .fa, .box-header > .glyphicon, .box-header > .ion {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.box-body {
    padding: 10px
}

.box-footer {
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

*, :after, :before, input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}


@media (min-width: 992px) {
    .container {
        width: 970px
    }

    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }
}

fieldset {
    padding: 0;
    border: 0;
    min-width: 0;
    margin: 0
}

.form-control {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: block;
    width: 76%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-group {
    margin-bottom: 10px
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-primary {
    color: #fff;
    background-color: #3e4b43;
    border-color: #262626
}

a {
    color: #88bf9c;
    text-decoration: none
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btl-save-all {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    margin: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #b5eac7;;
}

input:focus + .slider {
    box-shadow: 0 0 1px #b5eac7;;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}